<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main-maket.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div layout:fragment="other">
      <div class="row">
          <div class="col-12">
              <form action="/add-student" method="post">
                  <div class="row mt-2">
                      <div class="col-12">
                          <label>FULL NAME</label>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12">
                          <input type="text" class="form-control" name="fullName">
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12">
                          <label>CITY</label>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12">
                          <select class="form-control" name="city.id">
                              <option th:each="city: ${cities}"
                                      th:value="${city.id}"
                                      th:text="${city.cityName + '|' + city.code}">
                              </option>
                          </select>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12">
                          <label>GPA</label>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12">
                          <input type="text" class="form-control" name="gpa" >
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12">
                          <label>IIN</label>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12">
                          <input type="text" class="form-control" name="iin" >
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12">
                          <button class="btn btn-success btn-sm">ADD STUDENT</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</body>
</html>