<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        + ADD STUDENT
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/add-student" method="post">
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>FULL NAME</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="fullName">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>CITY</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="city">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>GPA</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="gpa">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>IIN</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="iin">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add Student</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped mt-2">
        <thead>
        <tr>
            <th>ID</th>
            <th>FULL NAME</th>
            <th>CITY</th>
            <th>GPA</th>
            <th>IIN</th>
            <th style="width: 7%;">DETAILS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.fullName}"></td>
            <td th:text="${student.city}"></td>
            <td th:text="${student.gpa}"></td>
            <td th:text="${student.iin}"></td>
            <td><a class="btn btn-sm btn-secondary" th:href="@{'/details/' + ${student.id}}">DETAILS</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>